work/
*/work/
*/transcript
*/log
*.wlf
*.data
*.swp
*.npy
*.tags
pytorch-deeplabv3+/
/deeplabv3+_extract/datasets
/deeplabv3+_extract/model
/deeplabv3+_extract/data
/deeplabv3+_extract/metrics
deeplabv3_clean/
/deeplabv3+_extract/utils
/deeplabv3+_extract/network
/deeplabv3+_extract/checkpoints
